# Auto detect text files and perform LF normalization
* text=auto
//# :hammer: Novas Funcionalidades do Projeto

// `Funcionalidade 1`: Melhorar o layout da página e consertar os bugs 1
// `Funcionalidade 2`: Criar a aréa de cadastro do cliente 2
// `Funcionalidade 3`: criar a aréa de ckeout dos produtos 2 verificar protocolos de seguranças de site 2
// `Funcionalidade 4`: Boas práticas de atendimento ao cliente com bots 3

